@import "normalize";

html {

	font-size: 14px;
	@media (min-width: 768px) {
		font-size: 16px;
	}

	background-color: #fefefe;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;

	body {
		/* System Fonts as used by GitHub */
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

		font-size: 1rem;
		margin: 2rem auto;
		max-width: 800px;
		padding: 1rem;
		line-height: 1.4;

		color: #fefefe;

		display: flex;
		align-items: center;
		justify-content: center;
		text-align: justify;

		.error-middle {
			display: block;
			vertical-align: middle;
		}

	}

	&[class^="error-page--4"], &[class*=" error-page--4"] {
		background-color: #e74c3c;
		body {

		}
	}

	&[class^="error-page--5"], &[class*=" error-page--5"] {
		background-color: #f1c40f;
		body {

		}
	}

	/* Specification */
	&.error-page--418 {
		background-color: rgba(20,20,20, 0.5);
		background-image:url('images/teapot.jpg');
		background-size: cover;
		background-position: 50% 50%;

		body > .overlay{
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			height: 100vh;
			width: 100vw;
			background-color: rgba(20,20,20, 0.5);
			> .error-middle{
				position: relative;
			}
		}
	}
}




